* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

p {
  margin: 0;
}

body {
  min-width: 375px;
  margin: 0px auto;
  font-family: "Roboto", sans-serif;
  background-color: rgb(245, 232, 209);
}

.main {
  margin: 0 auto;
  max-width: 75%;
  min-height: 64vh;
}
